<div class="border rounded">
  <h1>Questions#ask</h1>
  <p>Find me in app/views/questions/ask.html.erb</p>
</div>

<form class="form-inline" action="/answer" method="get">
  <input class="form-control m-2" type="text" name="question" placeholder="enter your question">
  <input class="btn btn-primary m-2" type="submit">
</form>
